{% extends 'layoutDashboard.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}


<div class="container">
    <div class="d-block justify-content-center mb-5">
        <h1>Mon compte</h1>
        <div class="row mb-5 mt-5">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-7">
                <button class="btn mb-4" type="button">
                    <a class="" href="{{ path('app_edit_profil') }}" id="btn_objectif" style="color: black !important;">
                        <i class="fa-solid fa-pencil" style="color: #615FD7;"></i>
                        modifier mes informations peronnelles
                    </a>
                </button>
            </div>
            <div class="col-lg-1">

            </div>

        </div>
    </div>
    {% for flash_error in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="bg-white p-5 shadow-sm rounded-circle">
            <icon class="fas fa-user" style="font-size:100px"></icon>
        </div>
    </div>

    <div class="row justify-content-center mt-5 mb-4">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4 col-md-4">
            <input type="text" class="form-control" id="form-profile" placeholder="Prenom" disabled>
            <p class="label">{{ app.user.lastName }}</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <input type="text" class="form-control" id="form-profile" placeholder="Nom" disabled>
            <p class="label">{{ app.user.firstName }}</p>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <div class="col-lg-4">
            <input type="text" class="form-control" id="form-profile" placeholder="Email" disabled>
            <p class="label">{{ app.user.email }}</p>
        </div>
    </div>


</div>


{% block style%}
<style>
    /*   body {
        background-color: #ededf0;;
    }
    .btn {
        background-color: white;
        color: #15141A;
        border-radius: 25px;
        border: none;
        padding: 10px 15px;
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
    }
    .fas {
        color: var(--blue);
    }
    .data {
        background-color: var(--blue);
        color: white;
        border-radius: 0px;
        border: none;
        padding: 7px;
        font-size: 17px;
        font-family: "Open Sans", sans-serif
    }
    .form-control:disabled {
        background-color: white;
    }
    .label {
        margin-bottom:5px;
        font-size:20px;
    }
</style>
{% endblock %}

{% endblock %}