<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#
    <link rel="stylesheet" href="/assets/css/base.css"> #}
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E­">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0ceabe6dbd.js" crossorigin="anonymous"></script>
    <script src="assets/scripts/jquery.min.js"></script>
    {#
    <script src="https://kit.fontawesome.com/0ceabe6dbd.js" crossorigin="anonymous"></script> #}
    {% endblock %}

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>
    <main>
        <div class="container-fluid" id="sidebar_dasboard">
            <div class="row">
                <div class="col-sm-auto sticky-top" style="background-color: #073A4B">
                    <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top">
                        <a href="{{ path('app_home') }}" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
                            data-bs-placement="right" data-bs-original-title="Icon-only">
                            <a class="navbar-brand" href="/">
                                <img src="/assets/img/yellow_logo.svg" class=" align-text-top"
                                    style="width: 110px;margin-bottom: 80px;margin-top: 10px;">
                            </a>
                        </a>
                        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-5  align-items-start"
                            style="gap: 15px;">
                            {% if app.user.roles[0] == 'ROLE_OWNER' %}
                                <li class="nav-item">
                                    <a href="{{ path('app_owner_profile') }}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                       data-bs-placement="right" data-bs-original-title="Réservations">
                                        <i class="fa-sharp fa-regular fa-calendar-days me-3"></i>
                                        Mes bureaux
                                    </a>
                                </li>
                            {% endif %}
                            
                            {% if app.user.roles[0] == 'ROLE_RENTER' %}
                                <li class="nav-item">
                                    <a href="{{ path('app_booking_in_progress') }}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                        data-bs-placement="right" data-bs-original-title="Documents">
                                        <i class="fa-sharp fa-regular fa-calendar-days me-3"></i>
                                        Mes réservations en cours
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('app_historique_booking') }}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                       data-bs-placement="right" data-bs-original-title="Réservations">
                                        <i class="fa-solid fa-clock-rotate-left me-3"></i>
                                        Historique
                                    </a>
                                </li>
                            {% endif %}

{#                            {% if app.user.roles[0] == 'ROLE_RENTER' %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                       data-bs-placement="right" data-bs-original-title="Catalogue">
                                        <i class="fa-solid fa-list me-3"></i>
                                        Catalogue
                                    </a>
                                </li>
                            {% endif %}#}

                            

                            {#{% if app.user.roles[0] == 'ROLE_RENTER' %}
                                <li class="nav-item">
                                    <a href="{{ path('app_user_booking_history') }}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                       data-bs-placement="right" data-bs-original-title="Historique">
                                        <i class="fa-solid fa-clock-rotate-left me-3"></i>
                                        Historique
                                    </a>
                                </li>
                            {% endif %}#}

                            <li>
                                <a href="{{ path('app_profil') }}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                    data-bs-placement="right" data-bs-original-title="Mon compte">
                                    <i class="fa-solid fa-circle-user me-3"></i>
                                    Mon compte
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('app_logout') }}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
                                    data-bs-placement="right" data-bs-original-title="Déconnexion">
                                    <i class="fa-solid fa-arrow-right-from-bracket me-3"></i>
                                    Déconnexion
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm p-3 min-vh-100">
                    <!-- content -->

                    {% block content %}{% endblock %}

                </div>
            </div>
        </div>

        </div>
        </div>

    </main>

</body>
<style>
    #sidebar_dasboard a {
        color: white;
        font-family: "Roboto";
        font-size: 16px;
    }
</style>

</html>